.navigation{
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0px;
  left: 0px;
  min-width: 215px;
}

.navigation-down {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: whitesmoke;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
}
  
.links-container{
  display: flex;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  justify-content: flex-end;
  width: 100%;
  right: 30px;
  z-index: -1;
}

.logo-container{
  position: fixed;
  width: 340px;
  height: 75px;
  float: left;
}

.logo-container > a > img{
  height: 50px;
  float: left;
  margin: 10px 0px 0px 20px
}

.links-container > div > a > img{
  width: 180px;
  margin: 50px 0px 30px 0px;
}

.links-container > div > a {
  color: black;
  text-decoration: none;
  line-height: 70px;
  vertical-align: middle;
  margin-right: 18px;
}

.links-container > div > a:hover {
margin: 0;
}

.links-container > div {
  width: 140px;
  text-align: center;
}

.links-container > div:nth-child(5) {
  width: 90px;
}

#arrow {
  display: none;
}

.links-container > div > a:hover #arrow {
  display: inline;
  animation: FadeIn 1.5s;
}

@keyframes FadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
