.App{
  position: absolute;
  height: 4150px;
  width: 100%;
  overflow-y: visible;
  top: 0px;
  left: 0px;
  background: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-color: lightblue;
}

h2{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

p{
  color: black;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}